* {
    margin:0;
    padding:0;
}
body {
    background-image:linear-gradient(to right, rgb(121, 172, 92), rgb(171, 189, 148))
}

.header-container {
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}

h1 {
    margin-top:-20px;
    text-align: center;
}


.movie-container {
    display:flex;
    flex-wrap:wrap;
    margin:0 10%;
    justify-content: space-evenly;
    margin-bottom:40px;
}

.movie-container div {
    width:300px;
    display:flex;
    background-color:rgb(166, 240, 123);
    border-radius:5px;
    flex-direction: column;
    margin-top:20px;
    text-align:justify;
    justify-content: space-between;
    padding:0 20px;
}

img {
    border-radius:5px;
    width:100%;
    height:200px;
}

.movie-container div * {
    margin-top:10px;
}

.title {
    font-size:18px;
    font-weight: 600;
}

.overview {
    font-size:13px;
}

.original-title {
    color:grey;
    font-weight: 600;
}

.rating {
    align-self: center;
}

.navigation {
    margin-top:10px;
    display:flex;
    justify-content: space-evenly;
    
}

.btn {
    width:200px;
    height:30px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    background-image:linear-gradient(to right, rgb(166, 240, 123), rgb(171, 189, 148));
}

